.category-row-index-label {
  width: 10%;
}

.category-row-name-label {
  width: 10%;
}

.category-row-parent-label {
  width: 10%;
}

.category-row-descp-label {
  width: 20%;
  padding-left: 30px;
  text-align: left;
}

.category-row-order-label {
  width: 10%;
}

.category-row-articlecnt-label {
  width: 10%;
}

.category-row-operation-label {
  width: 10%;
}
