.label-div {
  display: inline-block;
  margin-left: 20px;
  padding: 5px 15px;
  border-radius: 10px;
}

.label-div-label-existed {
  background-color: #5d4037;
  opacity: 0.75;
}

.label-div-label-new {
  background-color: #00e676;
  opacity: 0.75;
}

.label-div > * {
  display: inline-block;
  vertical-align: middle;
}

.label-div span {
  color: white;
  font-size: 18px;
}

.label-div img {
  height: 20px;
}
