extends base_layout

block append stylesheet-block
  // 下面一行我要尝试着删去，现在先当成一个 bug
  link(rel='stylesheet' href='/css/simplemde.min.css')
  link(rel='stylesheet' href='/css/article_edit.min.css')

block main-body-block
  div.main

block append jsscript-block
  script(src='/js/article_edit.min.js')
  if type == 'add'
    script.
      MyStructs.init({
        ele: document.getElementsByClassName('main')[0],
        type: 'add'
      })
  else
    script.
      MyStructs.init({
        ele: document.getElementsByClassName('main')[0],
        type: 'modify'
      })
