head
    meta(charset='utf-8')/
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=no')/
    title #{title}
    - var pug_cur_time = new Date().getTime();
    block stylesheet-block
      link(rel='icon' href='/images/logo.png' type='image/png')
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      link(rel='stylesheet' href='/css/admin.css')
      link(rel='stylesheet' href='/css/md.css')