#refact-area {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#refact-tree-area {
  min-height: 600px;
  background-color: #f5f5f5;
}

#refact-detail-area {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 30px 30px 30px 80px;
}

#refact-article-brief-area-descp {
  min-height: 50px;
}

#refact-detail-ope-area {
  margin-top: 50px;
}

#refact-detail-ope-order-label {
  margin-left: 30px;
  font-size: 14px;
}

#refact-detail-ope-order-input {
  margin-left: 10px;
}
