extends base_layout

block banner-block
  include website_banner

block struct-main
  div.struct-main-content
    div.markdown-display !{md}
    //- include comment

block append jsscript-block
  script(src='/jquery.min.js')
  script(src='/markdown-it.min.js')
  script(src='/js/prism.js')
  script.
    $('.extensible-fence').on('click', '.extensible-fence-btn', function(e) {
      if ($(this).hasClass('extensible-fence-btn-hidden')) {
        $(this).next().show()
      } else {
        $(this).next().hide()
      }
      $(this).toggleClass('extensible-fence-btn-hidden')
      e.stopPropagation()
    })
