head
    meta(charset='utf-8')/
    meta(name="viewport" content="width=device-width, initial-scale=1, maxium-scale=1.0, minimum-scale=1.0, user-scalable=no")/
    title #{title}
    block stylesheet-block
      link(rel='icon' href='/images/logo.png' type='image/png')
      link(rel='stylesheet' href='/css/client_struct.min.css?')
      link(rel='stylesheet' href='/css/prism-okaidia.css')
