body
  block body-block
    block banner-block
    div.website-container
      block struct-main
        div.struct-main-content
      block struct-leftside-block
        aside.struct-sidebar-left
      block struct-rightside-block
        aside.struct-sidebar-right
  include base_foot
  - var pug_cur_time = new Date().getTime();
  block jsscript-block
    script(src='/jquery.min.js')
    script(src='/js/base.js?' + pug_cur_time)