doctype html
html
  include base_head
  body
    div.error-div
      if debug
        table.error-table
          tr
            th 错误码
            td #{error.code}
          tr
            th 网址
            td #{error.url}
          tr
            th 详情
            td #{error.message}
        pre #{error.stack}
      else
        if error.status == 404
          img(src='/images/error404.png').error-img
        else
          img(src='/images/error.png').error-img
      a(href='/').error-return 返回首页
        style.
          html {
            background-color: #F6F6F6;
          }
          pre {
            font-size: 12px;
          }
