
#category-content-area {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}

#category-tree-area,
#category-article-area {
}

#category-tree-area {
  max-width: 20%;
  min-height: 1000px;
  padding-bottom: 50px;
  background-color: #F5F5F5;
}

#category-article-area {
  flex-grow: 1;
  max-width: 80%;
  padding: 0px 30px;
}