extends base_layout

block main-body-block
  div.main
    div#target-div
    script(type='text/babel').
      class TableLabel extends React.Component {
        constructor(props) {
          super(props);
        }
        render() {
          return (
            <tr className='content-row-label'>
              <th className='content-row-check-label'></th>
              <th className='content-row-index-label'>序号</th>
              <th className='content-row-title-label'>标题</th>
              <th className='content-row-category-label'>类别</th>
              <th className='content-row-label-label'>标签</th>
              <th className='content-row-status-label'>状态</th>
              <th className='content-row-pageview-label'>阅读次数</th>
              <th className='content-row-operation-label'>操作</th>
            </tr>
          );
        }
      }

      class ArticleRow extends React.Component {
        constructor(props) {
          super(props);
          this.state = this.props.article;
          this.article_state_label = {
            on: '上线',
            off: '下线',
            check: '待核查'
          };
          this.handleStateClick = this.handleStateClick.bind(this);
          this.article_operation = {
            on: <ul className='article-operation-ul'><li data-type='off' onClick = {this.handleStateClick}>下线</li><li data-type='check' onClick = {this.handleStateClick}>核查</li></ul>,
            off: <ul className='article-operation-ul'><li data-type='on' onClick = {this.handleStateClick}>上线</li><li data-type='check' onClick = {this.handleStateClick}>核查</li></ul>,
            check: <ul className='article-operation-ul'><li data-type='on' onClick = {this.handleStateClick}>上线</li><li data-type='check' onClick = {this.handleStateClick}>核查</li><li data-type='del' onClick = {this.handleStateClick}>删除</li></ul>
          }
        }
        handleStateClick(e) {
          var type = e.target.getAttribute('data-type');
          var id = this.state.id;
          var that = this;
          if (type == 'on' || type == 'off') {
            fetch('/admin/datas/articles/modify',
              {
                data: {id: id, state: type},
                type: 'get',
                dataType: 'json',
                success: function(dt) {
                  console.log(JSON.stringify(dt));
                  that.setState(dt);
                },
                error: function() {
                  console.log(error);
                }
              }
            );
          } else if (type == 'del') {
            alert(del);
          } else if (type == 'check') {
            location.href = '/admin/articles/add';
          }
        }
        render() {
          const url = '/articles/view/' + this.state.id;
          const topStatus = this.state.top == 0 ? {} : {color: '#EF5350'};
          const articleState = this.article_state_label[this.state.state];
          const operation = this.article_operation[this.state.state];
          return (
            <tr className='content-row-data'>
              <td className='content-row-checkbox-data'><input type='checkbox' /></td>
              <td className='content-row-index-data' onClick = {this.handleIndexClick}>{this.props.index + 1}</td>
              <td className='content-row-title-data' style={topStatus}><a href={url}>{this.state.title}</a></td>
              <td className='content-row-category-data'>{this.state.category}</td>
              <td className='content-row-label-data'>{this.state.label}</td>
              <td className='content-row-status-data'>{articleState}</td>
              <td className='content-row-pageview-data'>{this.state.pageview}</td>
              <td className='content-row-operation-data'>{operation}</td>
            </tr>
          );
        }
      }

      class ArticleTable extends React.Component {
        constructor(props) {
          super(props);
        }
        render() {
          const articleRows = this.props.articleDatas.map((article, index, arr) => {
            return (
              <ArticleRow key = {index} index = {index} article = {article} />
            );
          });
          return (
            <table className='content-table'>
              <thead>
                <TableLabel />
              </thead>
              <tbody>
                { articleRows }
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          );
        }
      };
      function addData(data) {
        ReactDOM.render(
          <ArticleTable articleDatas = {data} />,
          document.getElementById('target-div')
         );
      }

      /**
       * 以后再修改下面的函数
       * 权当学习
       */
      function urlParamsEncode(obj) {
        var param = '';
        for (let key in obj) {
          param += (encodeURIComponent(key) + "=" + encodeURIComponent(obj[key]) + '&');
        }
        return param.substring(0, param.length - 1);
      }
      function fetch(url, {
          data = {}, 
          type = 'get', 
          dataType = 'text', 
          success = function(){}, 
          error = function(){}, 
          complete = function(){}}) {
        var xhr = new XMLHttpRequest();
        if (xhr == null) return;
        var params = urlParamsEncode(data);
        if (type == 'get') {
          if (!url.endsWith('?')) url += '?';
          url += params;
        }
        xhr.open(type, url);
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4) {
            complete();
            if (xhr.status == 200) {
              switch (dataType) {
                case 'json':
                  success(JSON.parse(xhr.responseText));
                  break;
                case 'xml':
                  success(xhr.responseXML);
                  break;
                case 'text':
                default:
                  success(xhr.responseText);
                  break;
              }
            } else {
              // 此处没有参数
              error();
            }
          }
        };
        if (type == 'post') {
          xhr.send(params)
        } else {
          xhr.send();
        }
      }
      fetch('/admin/datas/articles/get', {
        type: 'get', 
        dataType: 'json', 
        success: function(dt) {
          addData(dt.data);
        }
      });