extends base_layout

block append jsscript-block
  script(src='/dist/simplemde.min.js')
  script(src='/markdown-it.min.js')
  script(src='/template.js')
  script const labels_exists = JSON.parse( '!{labels}' )

block append stylesheet-block
  link(rel='stylesheet' href='/dist/simplemde.min.css')
  link(rel='stylesheet' href='/css/article_edit.css?' + new Date().getTime())

block main-body-block
  div.main
    div#edit-body
      div#edit-area
        textarea#md-editor
      div.markdown-display#display-area
    div#op-div
      div#article-labels.op-bar
        label#label-label 标签
        input#label-input-area(placeholder='输入标签' maxlength=10)
        div#labels-area
      div.op-bar
        div#submit 发布文章
        div#save 保存文章
  script#label-tpl(type='text/html').
    <div id="label-div-<%= ord %>" class='label-div label-div-label-<%= nclass %>'>
      <span><%= label %></span>
      <img id='label-div-delete-img-<%= ord %>' src='/images/icons/ic_clear_white_24dp_2x.png' onclick='deleteLabel(<%= ord %>)'></img>
    </div>
  script.
    var labels = [];
    (() => {
      const labelTpl = $("#label-tpl").html();
      var labelCount = 0;
      $('#label-input-area').keydown((e) => {
        if (e.which == 13) {
          let l = $('#label-input-area').val();
          if (labels.indexOf(l) == -1) {
            var params = {label: l, ord: labelCount++, nclass: labels_exists.indexOf(l) == -1 ? 'new' : 'existed'};
            $(template(labelTpl, params)).appendTo($('#labels-area'));
            labels.push(l);
          }
          $('#label-input-area').val('');
        }
      });
    })();
    function deleteLabel(i) {
      let id = '#label-div-' + i;
      let label = $(id).children('span').text();
      labels.splice(labels.indexOf(label), 1);
      $(id).remove();
    }
  script.
    var simplemde = new SimpleMDE({ element: document.getElementById("md-editor"),
      status: false,
      spellChecker: false
    });
    var markdown = markdownit();
    simplemde.codemirror.on("change", (instance, changeObj) => {
      console.log(instance);
      console.log(changeObj);
      var mdt = markdown.render(simplemde.value());
      $("#display-area").html(mdt);
      $("#display-area").scrollTop($('#display-area')[0].scrollHeight);
    });
  if type == 'edit':
    script.
      function submitArticle(e) {
        $('#submit').unbind('click');
        content = simplemde.value();
        $.ajax({
          url: 'http://localhost:3000/admin/add',
          data: {md: content, label: labels.join(',')},
          type: "post",
          dataType: "json",
          success: (res) => {
            if (res.code == 0) {
              location.href = '/articles';
            } else {
              alert(res.msg);
              $('#submit').click(submitArticle);
            }
          },
          error: () => {
            $('#submit').click(submitArticle);
          }
        });
      }
      $("#submit").click(submitArticle);
  else
    script.
      function submitArticle(e) {
        $('#submit').unbind('click');
        content = simplemde.value();
        $.ajax({
          url: 'http://localhost:3000/admin/add',
          data: {md: content, label: labels.join(',')},
          type: "post",
          dataType: "json",
          success: (res) => {
            if (res.code == 0) {
              location.href = '/articles';
            } else {
              alert(res.msg);
              $('#submit').click(submitArticle);
            }
          },
          error: () => {
            $('#submit').click(submitArticle);
          }
        });
      }
      $("#submit").click(submitArticle);
  script.
    $('#display-area').html(markdown.render(simplemde.value()));