block website-banner
  header
    div#admin-banner
      img#expand-side-bar-img.operation-bar-icon(src='/images/icons/ic_view_headline_white_36dp_2x.png')
      div#banner-left-div
        img#add-article-img.operation-bar-icon(src='/images/icons/ic_add_box_white_36dp_2x.png')
        img#avatar-img.operation-bar-icon(src='/images/avatar.jpeg')
        ul#admin-operation-ul
          li.admin-operation-li 注销