block website-banner
  header
    div#admin-banner
      img#expand-side-bar-img.operation-bar-icon(src='/images/icons/ic_view_headline_white_36dp_2x.png')
      div#banner-left-div
        img#add-article-img.operation-bar-icon(src='/images/icons/ic_add_box_white_36dp_2x.png')