@charset "utf8";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.operation-button {
  display: inline-block;
  padding: 5px 20px;
  min-width: 100px;
  color: white;
  font-size: 14px;
  border: none;
  background: none;
  background-color: #009688;
  cursor: pointer;
}

.operation-button-confirm {
  background-color: #009688;
}

.operation-button-cancel {
  background-color: #78909C;
}

#admin-banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: #795548;
  box-shadow: 0px 5px 5px #4E342E;
}

.operation-bar-icon {
  width: 30px;
  cursor: pointer;
}

#expand-side-bar-img {
  position: absolute;
  top: 10px;
  left: 10px;
}

#banner-left-div {
  position: absolute;
  right: 30px;
  top: 10px;
  height: 30px;
}

#left-nav-div {
  position: fixed;
  top: 40px;
  z-index: 50;
  width: 50px;
  height: 1000px;
  padding: 20px 10px;
  overflow: hidden;
  background-color: #795548;
  box-shadow: 5px 0 5px #795548;
  transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
}

.left-nav-item {
  width: 150px;
  margin-top: 10px;
}

.left-nav-item-img,
.left-nav-item-label {
  display: inline-block;
  vertical-align: middle;
}

.left-nav-item-label {
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #BCAAA4;
}

.main {
  margin-left: 50px;
  margin-top: 50px;
  padding: 20px;
  transition: margin-left 0.2s linear;
  -moz-transition: margin-left 0.2s linear;
  -webkit-transition: margin-left 0.2s linear;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #BCAAA4;
}

td {
  color: #424242;
}

.content-table {
  width: 80%;
  margin-left: 10%;
}

.content-row-label {
  height: 50px;
  color: white;
  background-color: #795548;
}

.content-row-data {
  height: 40px;
  text-align: center;
}

.content-row-data:nth-of-type(even) {
  background-color: #EFEBE9;
}

.content-row-check-label {
  width: 30px;
}

.content-row-index-label {
  width: 30px;
}

.content-row-title-label {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.content-row-category-label {
  width: 60px;
}

.content-row-label-label {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.content-row-status-label {
  width: 50px;
}

.content-row-pageview-label {
  width: 50px;
}

.content-row-operation-label {
  width: 60px;
}

.content-row-checkbox-data {
  
}

.content-row-index-data {
  
}

.content-row-title-data {

}

.content-row-title-data a {
  display: table-cell;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

.content-row-category-data {
  
}

.content-row-label-data {
  padding-left: 20px;
  text-align: left;
}

.content-row-status-data {
  
}

.content-row-pageview-data {
  
}

.content-row-operation-data {
  padding-left: 0;
  text-align: left;
}

.article-operation-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.article-operation-ul li {
  display: inline-block;
  padding: 0px 5px;
  color: #4CAF50;
  cursor: pointer;
}

.article-operation-ul li a {
  color: inherit;
  text-decoration: inherit;
}

#display-area {
  padding: 30px;
}

#table-nav-ul {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  line-height: 20px;
  font-size: 16px;
  color: #757575;
  padding-left: 0;
}

.table-nav-ul-li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.table-nav-ul-li-current {
  color: #4CAF50;
}

.table-filter-bar,
.table-operation-bar {
  width: 80%;
  height: 30px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-filter-bar-top .table-filter-item,
.table-operation-bar .table-filter-item {
  float: right;
  margin-top: 5px;
}

.table-filter-bar-bottom {
  text-align: left;
}

.table-filter-bar .operation-button {
}

.table-filter-item {
  display: inline-block;
  height: 20px;
}

.table-filter-item-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #757575;
}

.table-filter-item-input,
.table-filter-item-select {
  width: 100px;
  height: 20px;
}

.table-filter-item-input {
  outline: none;
  border: 1px solid #BDBDBD;
}

.table-filter-item-input:focus {
  outline: none;
  border: 1px solid #BDBDBD;
}

#photo-div {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  width: 80%;
  min-height: 800px;
  margin-left: 10%;
}

#photo-flow-div {
  width: 200px;
  box-flex: 1;
  -moz-box-flex: 1;
  background-color: #A1887F;
}

#photo-group-div {
  position: relative;
  width: 150px;
  background-color: white;
  border: 1px solid #BDBDBD;
  overflow: visible;
}

.photo-operation-bar,
.photo-group-operation-bar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #6D4C41;
}

.photo-operation-bar {
  padding-top: 10px;
  background-color: #795548;
}

.photo-operation-bar > label {
  color: white;
}

#photo-operation-bar-first {
  text-align: right;
}

#photo-operation-bar-second > input {
  margin-left: 20px;
}

#photo-operation-bar-second > button{
  margin-left: 20px;
}

#upload-image-button {
  margin-right: 30px;
}

#photo-flow-items-ul {
  margin: 10px 0 0;
  padding: 0;
  list-style-type: none;
}

.photo-flow-item-li {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 260px;
  padding: 0;
  margin-left: calc((100% - 200px * 4) / 8);
  margin-right: calc((100% - 200px * 4) / 8);
  margin-top: 5px;
  background-color: #4CAF5099;
}

.photo-flow-item-li-img-div {
  height: 200px;
  overflow: hidden;
}

.photo-flow-item-li-img {/*
  height: 200px;*/
  display: block;
}

.photo-flow-item-name-div {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: white;
}

.photo-flow-item-li-ope-bar {
  width: 100%;
  height: 30px;
  padding-left: 22.75px;
  background-color: #EEEEEE;/*
  opacity: 0;
  transition: opacity 1s linear;*/
}

.photo-flow-item-ope-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 27.5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.photo-flow-item-mode-edit {
  background-image: url(/images/icons/ic_mode_edit_grey_24dp_2x.png);
}

.photo-flow-item-mode-edit:hover {
  background-image: url(/images/icons/ic_mode_edit_black_24dp_2x.png);
}

.photo-flow-item-mode-swap {
  background-image: url(/images/icons/ic_swap_horiz_grey_24dp_2x.png);
}

.photo-flow-item-mode-swap:hover {
  background-image: url(/images/icons/ic_swap_horiz_black_24dp_2x.png);
}

.photo-flow-item-mode-del {
  background-image: url(/images/icons/ic_delete_grey_24dp_2x.png);
}

.photo-flow-item-mode-del:hover {
  background-image: url(/images/icons/ic_delete_black_24dp_2x.png);
}

.photo-group-operation-bar {
  
}

#photo-group-items-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.photo-group-item-li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: #424242;
  background-color: white;
  border-bottom: 1px solid #BDBDBD;
  cursor: pointer;
}

.photo-group-item-li:hover,
.photo-group-item-li-current {
  background-color: #A1887F;
}

.photo-group-item-li-title-span,
.photo-group-item-li-ope-img {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.photo-group-item-li-ope-img:hover {
  background: white;
}

.photo-group-item-li-title-span {
  width: calc(100% - 40px);
}

.photo-group-item-li-ope-img {
  width: 20px;
}

#add-new-photo-group-div {
  width: 100%;
  height: 100%;
  line-height: 50px;
  padding-left: 20px;
  margin: 0;
  cursor: pointer;
}

#photo-group-opebar-title-div,
#photo-group-opebar-img {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

#photo-group-opebar-title-div {
  width: calc(100% - 40px);
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
}

#photo-group-opebar-img {
  width: 20px;
  cursor: pointer;
}

.dialog-div {
  position: absolute;
  left: calc((100% - 300px) / 2);
  z-index: 40;
  width: 300px;
  padding: 30px;
  background: white;
  border: 1px solid #BDBDBD;
  box-shadow: 3px 3px 3px #E0E0E0;
}

#add-new-group-div {
  position: relative;
  left: -80px;
}

.dialog-title-div {
  line-height: 40px;
  font-size: 14px;
  color: #424242;
}

.dialog-content-input,
.dialog-content-input:focus {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  outline: none;
  border: 1px solid #BDBDBD;
}

.dialog-buttom-operation-bar {
  margin-top: 10px;
}

.dialog-operation-button {
  display: inline-block;
  width: 45%;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  border: 1px solid #BDBDBD;
  outline: none;
}

.dialog-confirm-button {
  color: white;
  background-color: #009688;
}

.dialog-cancel-button {
  margin-left: 10%;
  background-color: #E0E0E0;
}

#move-group-radio-ul {
  list-style-type: none;
  max-height: 100px;
  overflow: scroll;
  padding: 0;
}

.move-group-radio-li {
  display: inline-block;
  width: 45%;
  height: 30px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: #424242;
  overflow: hidden;
  vertical-align: middle;
}

.move-group-radio-li:nth-of-type(2n) {
  margin-left: 5%;
}

#photo-flow-opebar-move-div,
#photo-flow-opebar-del-div {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0;
  margin-left: 30px;
}

#add-category-div {
  position: fixed;
  top: 100px;
  left: calc((100% - 500px) / 2);
  z-index: 10;
  width: 500px;
  height: 0;
  overflow: hidden;
  border: 0px solid #9E9E9E;
  background-color: white;
  box-shadow: 3px 3px 3px #BDBDBD;
  transition: height 1s linear, border 1s linear;
}

#add-category-form {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

#add-category-div-title {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
}

.add-category-div-item {
  list-style-type: none;
  margin-top: 10px;
}

.add-category-div-item * {
  display: inline-block;
  vertical-align: middle;
}

.add-category-div-item-label {
  width: 30%;
  padding-left: 20px;
}

.add-category-div-item-input,
.add-category-div-item-textarea {
  width: 60%;
  border: 1px solid #9E9E9E;
}

.add-category-div-item-input:focus,
.add-category-div-item-textarea:focus {
  border: 1px solid #616161;
}

.add-category-div-item-input {
  height: 30px;
}

#add-category-div-item-input-parent option {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.add-category-div-item-textarea {
  height: 70px;
  padding: 5px 2px;
}

.add-category-div-opebar {
  text-align: right;
  margin-right: 10%;
}

.add-category-div-opebar .operation-button-cancel {
  margin-right: 30px;
}

.category-row-index-label {
  width: 10%;
}

.category-row-name-label {
  width: 10%;
}

.category-row-parent-label {
  width: 10%;
}

.category-row-descp-label {
  width: 20%;
  padding-left: 30px;
  text-align: left;
}

.category-row-order-label {
  width: 10%;
}

.category-row-articlecnt-label {
  width: 10%;
}

.category-row-operation-label {
  width: 10%;
}

.category-row-descp-data {
  padding-left: 30px;
  text-align: left;
}

.category-row-order-data input {
  text-align: center;
  border: none;
  background: none;
}

.category-row-order-data input:hover {
  background-color: #E0E0E0;
}

.del-category-dialog,
.del-article-dialog,
.move-category-dialog {
  position: fixed;
  top: 200px;
}

.label-row-index-label {
  width: 10%;
}

.label-row-title-label {
  width: 10%;
  text-align: center;
}

.label-row-articlecnt-label {
  width: 10%;
}

.label-row-hotmark-label {
  width: 10%;
}

.label-row-addtime-label {
  width: 10%;
}

#avatar-img {
  border-radius: 50%;
  background: inherit;
  margin-left: 20px;
  margin-right: 30px;
}

#admin-operation-ul {
  position: fixed;
  display: none;
  right: 15px;
  top: 50px;
  z-index: 100;
  width: 130px;
  background-color: white;
  border: 1px solid #BDBDBD;
  list-style-type: none;
  box-shadow: 3px 3px 3px #9E9E9E;
  padding: 0;
  margin: 0;
}

.admin-operation-li {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.admin-operation-li:hover {
  background-color: #78909C;
  color: white;
}

#info-overview-div {
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-top: 50px;
  background-color: white;
  border: 1px solid #E0E0E0;
  box-shadow: 1px 1px 1px #E0E0E0;
}

.info-overview-item {
  display: inline-block;
  vertical-align: center;
  width: 30%;
  height: 100%;
  margin-left: 13.3%;
}

.info-overview-item > span {
  width: 100%;
  display: block;
}

.info-overview-item-title {
  height: calc(300px * 0.4);
  font-size: 30px;
  padding-top: 80px;
  text-align: center;
  color: #424242;
}

.info-overview-item-count {
  height: calc(300px * 0.5);
  text-align: center;
  font-size: 100px;
  font-family: Impact;
  color: rgba(75,192,192,1);
}

#info-perhour-view-div {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 50px;
}

#refact-area {
  display: -moz-box;
  -moz-box-orient: horizontal;
  width: 100%;
}

#refact-tree-area {
  min-height: 600px;
  background-color: #F5F5F5;
}

.category-tree-category-ul {
  list-style-type: none;
  height: 100%;
  padding: 0px;
  margin: 0;
}

.category-tree-category-li {
  font-size: 20px;
}

.category-tree-category-title {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #795548;
  color: white;
}

.category-tree-article-li {
  height: 25px;
  padding-right: 50px;
  line-height: 25px;
  font-size: 16px;
  color: #424242;
}

#refact-detail-area {
  -moz-box-flex: 1;
  padding: 30px 30px 30px 80px;
}

#refact-article-brief-area-descp {
  min-height: 50px;
}

#refact-detail-ope-area {
  margin-top: 50px;
}