@charset "utf8";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#admin-banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: #795548;
  box-shadow: 0px 5px 5px #4E342E;
}

.operation-bar-icon {
  width: 30px;
  cursor: pointer;
}

#expand-side-bar-img {
  position: absolute;
  top: 10px;
  left: 10px;
}

#banner-left-div {
  position: absolute;
  right: 30px;
  top: 10px;
  height: 30px;
}

#left-nav-div {
  position: fixed;
  top: 40px;
  z-index: 50;
  width: 50px;
  height: 1000px;
  padding: 20px 10px;
  overflow: hidden;
  background-color: #795548;
  box-shadow: 5px 0 5px #795548;
  transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
}

.left-nav-item {
  width: 150px;
  margin-top: 10px;
}

.left-nav-item-img,
.left-nav-item-label {
  display: inline-block;
  vertical-align: middle;
}

.left-nav-item-label {
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #BCAAA4;
}

.main {
  margin-left: 50px;
  margin-top: 50px;
  padding: 20px;
  transition: margin-left 0.2s linear;
  -moz-transition: margin-left 0.2s linear;
  -webkit-transition: margin-left 0.2s linear;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #BCAAA4;
}

td {
  color: #424242;
}

.content-table {
  width: 80%;
  margin-left: 10%;
}

.content-row-label {
  height: 50px;
  color: white;
  background-color: #795548;
}

.content-row-data {
  height: 40px;
  text-align: center;
}

.content-row-data:nth-of-type(even) {
  background-color: #EFEBE9;
}

.content-row-check-label {
  width: 30px;
}

.content-row-index-label {
  width: 30px;
}

.content-row-title-label {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.content-row-category-label {
  width: 60px;
}

.content-row-label-label {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.content-row-status-label {
  width: 50px;
}

.content-row-pageview-label {
  width: 50px;
}

.content-row-operation-label {
  width: 60px;
}

.content-row-checkbox-data {
  
}

.content-row-index-data {
  
}

.content-row-title-data {

}

.content-row-title-data a {
  display: table-cell;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

.content-row-category-data {
  
}

.content-row-label-data {
  padding-left: 20px;
  text-align: left;
}

.content-row-status-data {
  
}

.content-row-pageview-data {
  
}

.content-row-operation-data {
  padding-left: 0;
  text-align: left;
}

.article-operation-ul {
  list-style-type: none;
}

.article-operation-ul li {
  display: inline-block;
  padding: 0px 5px;
  color: #4CAF50;
  cursor: pointer;
}

#display-area {
  padding: 30px;
}