* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

#edit-body,
#op-div {
  width: 80%;
  margin-left: 10%; }

#edit-body {
  display: flex;
  flex-direction: row;
  height: 500px;
  border: 1px solid black; }

#op-div {
  margin-top: 20px;
  padding: 20px 0;
  background-color: rgba(93, 64, 55, 0.75); }

#edit-area,
#display-area {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
  height: 100%;
  overflow: scroll; }

#md-editor {
  display: block; }

.CodeMirror {
  height: 100%; }

.editor-toolbar.fullscreen,
.editor-preview-active-side,
.CodeMirror-fullscreen {
  z-index: 1000; }

.editor-preview,
.editor-preview-side {
  background-color: white; }

.op-bar {
  margin-top: 20px; }

#label-label,
#label-input-area,
#labels-area {
  display: inline-block;
  vertical-align: middle; }

#label-label {
  width: 100px;
  text-align: center;
  color: white; }

#label-input-area {
  height: 25px;
  color: white;
  background-color: inherit;
  outline: none;
  border: none; }

.label-div {
  display: inline-block;
  margin-left: 20px;
  padding: 5px 15px;
  border-radius: 10px; }

.label-div-label-existed {
  background-color: #5D4037;
  opacity: 0.75; }

.label-div-label-new {
  background-color: #00E676;
  opacity: 0.75; }

.label-div > * {
  display: inline-block;
  vertical-align: middle; }

.label-div span {
  color: white;
  font-size: 18px; }

.label-div img {
  height: 20px; }

button#save,
button#submit {
  margin-left: 100px; }

#choose-photo-div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 800px;
  height: 500px;
  margin-left: calc((100% - 800px) / 2);
  margin-top: 100px;
  background-color: white;
  border: 1px solid #BDBDBD; }

#choose-photo-div-title {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
  background-color: #E0E0E0;
  border-bottom: 1px solid #BDBDBD; }

#choose-photo-div-main-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px; }

#choose-photo-div-groups {
  flex-shrink: 0;
  width: 150px; }

#choose-photo-div-right-div {
  flex-grow: 1;
  flex-shrink: 1;
  border-left: 1px solid #BDBDBD; }

#choose-photo-div-upload-div {
  width: 100%;
  height: 50px;
  padding-top: 9px;
  padding-right: 20px;
  margin: 0;
  border-bottom: 1px solid #BDBDBD;
  text-align: right; }

#choose-photo-div-photo-list-div {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  overflow: scroll; }

#choose-photo-div-photo-list-ul {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#choose-photo-div-photo-group-ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.choose-photo-div-photo-group-li {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #BDBDBD;
  cursor: pointer; }

.choose-photo-div-photo-group-li-current {
  background-color: #EEE; }

.choose-photo-div-photo-item-li {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  margin-left: calc( (100% - 600px) / 5);
  margin-top: 10px;
  overflow: hidden; }

#insert-url-div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 300px;
  height: 140px;
  margin-left: calc((100% - 300px) / 2);
  margin-top: 200px;
  padding: 20px;
  background-color: whitesmoke;
  border: 1px solid #BDBDBD; }

#insert-url-div-title {
  height: 30px;
  line-height: 30px;
  color: #616161; }

#insert-url-div-input {
  display: block;
  width: 100%;
  height: 25px; }

#insert-url-div-bottom-operation-bar {
  margin-top: 10px; }

#insert-url-div .operation-button {
  width: 100px; }

#insert-url-div .operation-button-confirm {
  margin-left: 57px; }
