@charset "utf8";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#front-intro-div {
  width: 250px;
  height: 100px;
  margin: 300px auto;
  text-align: center;
  background-color: #263238BB;
  border-radius: 10px;
}

#front-intro-div a {
  color: white;
  line-height: 100px;
}

#website-intro-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #795548;
  box-shadow: 0px 5px 5px #4E342E;
}

#website-intro-div > div {
  position: absolute;
  top: 30px;
  display: inline-block;
  height: 30px;
}

#website-front-div {
  left: 30px;
  height: 100%;
}

#website-front-div a {
  display: inline-block;
  font-size: 30px;
  color: white;
}

#website-search-div {
  right: 50px;
}

#website-search-div > * {
  display: inline-blox;
  vertical-align: middle;
}

#website-search-input {
  height: 100%;
  width: 0px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: white;
  background: none;
  border-bottom: 2px solid white;
  transition: width 1s linear;
  -moz-transition: width 1s linear;
  -webkit-transition: width 1s linear;
}

#website-search-img {
  height: 25px;
}

#website-hide-input-img {
  position: relative;
  left: -25px;
  height: 25px;
}

.main {
  min-height: 800px;
  margin-top: 100px;
  padding: 50px 100px;
}

#display-area {
  padding: 30px;
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #795548;
}

#contact-me {
  position: absolute;
  top: 25px;
  right: 50px;
  line-height: 25px;
}

#personnal-addr a{
  color: white;
}

