@charset "utf8";

:root {
  font-size: 24px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#front-intro-div {
  width: 250px;
  height: 100px;
  margin: 300px auto;
  text-align: center;
  background-color: #263238BB;
  border-radius: 10px;
}

#front-intro-div a {
  color: white;
  line-height: 100px;
}

#website-intro-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #795548;
  box-shadow: 0px 5px 5px #4E342E;
}

#website-intro-div > div {
  position: absolute;
  top: 15px;
  display: inline-block;
  height: 30px;
}

#website-front-div {
  left: 30px;
}

#website-front-div a {
  display: inline-block;
  font-size: 25px;
  color: white;
}

#website-search-div {
  right: 50px;
}

#website-search-div > * {
  display: inline-block;
  vertical-align: middle;
}

#website-search-img {
  height: 25px;
}

#website-search-input-div {
  width: 0;
  height: 30px;
  border-bottom: 2px solid white;
  transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
}

#website-search-input-div > * {
  display: inline-block;
  vertical-align: middle;
}

#website-search-input {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: white;
  background: none;
}

#website-hide-input-img {
  position: absolute;
  right: 0;
  height: 25px;
}

.website-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 800px;
  margin-top: 100px;
  padding-bottom: 30px;
}

.struct-sidebar-left {
  order: 1;
  flex-shrink: 0;
  min-width: 10%;
  padding-left: 30px;
}

.struct-main-content {
  order: 2;
  width: 80%;
  flex-shrink: 1;
  padding-bottom: 50px; 
  overflow: scroll;
}

.struct-sidebar-right {
  order: 3;
  flex-grow: 0;
  flex-shrink: 0;
  width: 10%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer * {
  padding-bottom: 30px;
  margin-left: 20px;
  color: #BDBDBD;
  font-size: 0.6rem; 
  text-decoration: none;
}

#article-category-title-div {
  width: 150px;
}

#article-category-title-div > * {
  display: inline-block;
  vertical-align: middle;
}

#article-category-img {
  width: 30px;
}

#article-category-title-span {
  display: none;
  width: 70px;
  font-size: 16px;
  color: #9E9E9E;
}

#article-category-title-span a {
  color: inherit;
  text-decoration: none;
}

#article-categories-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.article-categories-ul-show {
  width: 200px;
  border-left: 1px solid #EEE;
}

.article-categories-ul-hide {
  width: 0;
  border-left: none;
}

.article-categories-ul-expanded {
  width: 200px;
}

.article-category-item-li {
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  border-bottom: 1px solid #EEEEEE;
}

.article-category-item-li a {
  color: #607D8B;
  text-decoration: none;
}

#article-search-hint-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

#quit-article-search-div {
  display: block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #212121;
  text-align: center;
  text-decoration: none;
  background-color: #EEEEEE;
  border: 1px solid #E0E0E0;
  outline: none;
}

#hint-param-article-search-div {
  height: 30px;
  line-height: 30px;
}

#articles-list-ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}

.article-item-li {
  max-height: 210px;
  padding: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.article-item-li-title {
  height: 40px;
  line-height: 40px;
}

.article-item-li-title > * {
  display: inline-block;
  vertical-align: middle;
}

.article-item-li-title a {
  max-width: 80%;
  color: black;
  font-size: 25px;;
  text-decoration: none;
  overflow: none;
}

.article-item-li-labels-ul {
  list-style-type: none;
}

.article-item-li-label-li {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  font-style: normal;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
}

.article-item-li-label-li-selected {
  color: white;
  background-color: red;
}

.article-item-li-title mark {
  color: red;
  background-color: inherit;
}

.article-item-li-content {
  max-height: 100px;
  overflow: hidden;
}

.article-item-li-bottom-info {
  height: 30px;
  text-align: right;
}

.article-item-li-bottom-info > div {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.article-item-li-addtime {
  
}

.nt-list {
  display: none;
  opacity: 0;
}

#article-list-pager-ul {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  line-height: 20px;
  font-size: 16px;
  color: #757575;
  padding-left: 0;
}

.article-list-pager-li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.article-list-pager-li a {
  text-decoration: none;
}

.article-list-pager-li-current a {
  text-decoration: none;
  color: #4CAF50;
}

#categories-list-ul {
  list-style-type: none;
}

.category-item-li {
  padding: 20px 10px;
  border-bottom: 1px solid #E0E0E0;;
}

.category-item-title-div {
  height: 40px;
}

.category-item-title-div a {
  font-size: 30px;
  color: #424242;
  text-decoration: none;
}

.struct-main-content#category-content-area {
  flex-grow: 0;
  margin-left: 30px;
  padding: 0px 30px;
}

.category-tree-category-ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.category-tree-category-li {
  font-size: 20px;
}

.category-tree-category-title-div {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.category-tree-category-title {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #795548;
  color: white;
  cursor: pointer;
}

.category-tree-category-title-img {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
}

.category-tree-category-title-current {
  background-color: #6D4C41;
}

.category-tree-category-title a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.category-tree-category-title a:hover {
  text-decoration: underline;
  background-color: #6D4C41;
}

.category-tree-article-li {
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #424242;
  cursor: pointer;
  overflow: hidden;
}

.category-tree-article-li-current {
  background-color: #E0E0E0;
}

.category-tree-article-li a {
  display: block;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  color: inherit;
  text-decoration: none;
}

.category-tree-article-li a:hover {
  text-decoration: underline;
  background-color: #BDBDBD;
}

.load-more-div {
  height: 50px;
  line-height: 50px;
  font-size: 0.8rem;
  text-align: center;
  color: #F5F5F5;
  background-color: #E0E0E0;
}

.load-more-div:hover {
  background-color: #BDBDBD;
}