.choose-photo-div-photo-item-li {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  margin-left: calc((100% - 600px) / 5);
  margin-top: 10px;
  overflow: hidden;
}
