#front-intro-div {
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  text-align: center;
  background-color: rgba(38, 50, 56, 0.73);
  background-position: center;
  border-radius: 10px;
}

#front-intro-div > div {
  padding-left: 50px;
  padding-right: 50px;
}

#front-intro-main {
  border-bottom: 1px solid #9e9e9e;
}

#front-intro-main a {
  color: white;
  text-decoration: none;
}

#front-intro-foot {
  margin-top: 10px;
  font-size: 0.6rem;
}

#front-intro-foot a {
  float: right;
  color: white;
  text-decoration: none;
}

#article-search-hint-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

#quit-article-search-div {
  padding: 5px 10px;
  color: #212121;
  font-size: 0.6rem;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  border: 1px solid #e0e0e0;
  outline: none;
}

#hint-param-article-search-div {
  height: 30px;
  line-height: 30px;
  font-size: 0.7rem;
}

#article-list-pager-ul {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  line-height: 20px;
  font-size: 16px;
  color: #757575;
  padding-left: 0;
}

.article-list-pager-li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.article-list-pager-li a {
  text-decoration: none;
}

.article-list-pager-li-current a {
  text-decoration: none;
  color: #4caf50;
}

.img-cover {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
}

.img-cover-img {
  position: relative;
  flex-shrink: 0;
}

.img-cover-show-origin {
  font-size: 0.6rem;
  font-weight: 200;
  color: rgba(189, 189, 189, 1);
  text-decoration: none;
}

.module-cmt-float-bar,
.module-cmt-float-bar-body {
  display: none !important;
  opacity: none !important;
}
