.category-row-name-data a {
    color: inherit;
    text-decoration: none;
  }

  .category-row-descp-data {
    padding-left: 30px;
    text-align: left;
  }

  .category-row-order-data input {
    text-align: center;
    border: none;
    background: none;
  }
  
  .category-row-order-data input:hover {
    background-color: #e0e0e0;
  }