.photo-operation-bar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #6d4c41;
}

.photo-operation-bar {
  padding-top: 10px;
  background-color: #795548;
}

.photo-operation-bar > label {
  color: white;
}
