.article-item-li {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

.article-item-li-title {
  padding: 0;
  margin: 0;
}

.article-item-li-title a {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  overflow: none;
}

.article-item-li-title mark {
  color: red;
  background-color: inherit;
}

.article-item-li-content {
  max-height: 105px;
  overflow: hidden;
  font-size: 0.6rem;
  color: #424242;
}

.article-item-li-bottom-info {
  height: 20px;
  text-align: right;
}

.article-item-li-bottom-info > span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 0.5rem;
}

// .article-item-li-addtime {
// }
