footer {
  padding-bottom: 20px;
}

.footer-container-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-item,
.footer-item * {
  color: #BDBDBD;
  font-size: 0.6rem;
}

.footer-item {
  padding-left: 10px;
  padding-right: 10px;
  height: 24px;
  line-height: 24px;
}

.footer-item img {
  width: 24px;
}

#contact-me {
  text-align: center;
}

#copyright {

}