.load-more-div {
    height: 40px;
    line-height: 40px;
    font-size: 0.7rem;
    text-align: center;
    color: #F5F5F5;
    background-color: #E0E0E0;
  }
  
  .load-more-div:hover {
    background-color: #BDBDBD;
  }