.load-more-div {
  height: 50px;
  line-height: 50px;
  font-size: 0.8rem;
  text-align: center;
  color: #f5f5f5;
  background-color: #e0e0e0;
}

.load-more-div:hover {
  background-color: #bdbdbd;
}
