.content-row-label {
  height: 50px;
  color: white;
  background-color: #795548;
}

.content-row-check-label {
  width: 30px;
}

.content-row-index-label {
  width: 30px;
}

.content-row-title-label {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.content-row-category-label {
  width: 60px;
}

.content-row-label-label {
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.content-row-status-label {
  width: 50px;
}

.content-row-pageview-label {
  width: 50px;
}

.content-row-operation-label {
  width: 60px;
}

@import './styles/label-table.scss';
