doctype html
html
  include base_head
  body(style={/*'background-image': 'url(' + backgroundImg + ')', 'background-attachment': 'fixed', */'display': 'flex', 'flex-direction': 'row', 'justify-content': 'center', 'align-items': 'center'})
    div#front-intro-div
      div#front-intro-main
        a(href='/articles') 欢迎进入张帅的博客
      div#front-intro-foot
        a#front-page-resume(href='http://www.ilovecrystal.com.cn/resume') 简历