extends base_layout

block body-block
  include website_banner
  mixin article_item(itemData)
    li.article-item-li(data-id = itemData.id )
      h3.article-item-li-title
        a(href='/articles/view/' + itemData.id) #{itemData.title}
      div.article-item-li-content #{itemData.descp}
      div.article-item-li-bottom-info
        span.article-item-li-pageview 阅读量(#{itemData.pageview})
        span.article-item-li-addtime #{new Date(itemData.modtime * 1000).format('yyyy-MM-dd hh:mm:ss')}
  div.main#articles-list
    block body-article-block
      ul#articles-list-ul
        each data in datas
          +article_item(data)
      ul#articles-foot-nav-ul
      include page_foot_pager_nav
      
  script.
    $(document).ready(() => {
      $('.article-item-li-addtime').click(function() {
        alert($(this).text());
      })
    });