extends base_layout

block append jsscript-block
  script(src='/markdown-it.min.js')
  script(src='/plugins/highlight-keywords/prism-highlight-keywords.min.js')
  script(src='/prism.js')

block body-block
  include website_banner
  div.main
    div.markdown-display#display-area !{md}
    include comment