head
    meta(charset='utf-8')/
    meta(name="viewport" content="width=device-width; initial-scale=1; maxium-scale=1.0; minimum-scale=1.0; user-scalable=no;")/
    title #{title}
    - var pug_cur_time = new Date().getTime();
    block jsscript-block
      script(src='/jquery.min.js')
      script(src='/js/base.js?' + pug_cur_time)
    block stylesheet-block
      link(rel='stylesheet' href='/css/base.css?' + pug_cur_time)
      link(rel='stylesheet' href='/css/md.css?' + pug_cur_time)
      link(rel='stylesheet' href='/themes/prism-okaidia.css')
