head
    meta(charset='utf-8')/
    title #{title}
    - var pug_cur_time = new Date().getTime();
    block jsscript-block
      script(src='/jquery.min.js')
      script(src='/js/base.js?' + pug_cur_time)
    block stylesheet-block
      link(rel='stylesheet' href='/css/base.css?' + pug_cur_time)
      link(rel='stylesheet' href='/css/md.css?' + pug_cur_time)
