block foot-block
  footer
    div.footer-container-div
      span.footer-item#copyright &copy; 张帅 黑ICP备15008639号-1
      div.footer-item
        span powered by 
        a(href="http://expressjs.com/") expressjs
      address.footer-item
        a(href="mailto:zhangshuaikb@hotmail.com") 联系我
      address.footer-item
        a(href="https://github.com/ucev/")
          img(src="/images/icons/github_mark_32px.png")
      