extends base_layout

block body-block
  include website_banner
  mixin category_item(category)
    li.category-item-li
      div.category-item-title-div
        a(href='#') #{category.name}
      div.category-item-descp-div
        div #{category.descp}
  div.main
    block body-categories-block
      div#categories-list-div
        ul#categories-list-ul
          each category in categories
            +category_item(category)