block comment-block
  if !debug
    <!--高速版-->
    div.comment-area
      div#SOHUCS(sid= 'article' + aid)
      script(charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js")
      script.
        window.changyan.api.config({
          appid: 'cysRzyE0Y',
          conf: 'prod_3a5ce45774b1fc3fe0b627ba017b3f62'
        });