block page_foot_pager_nav
  mixin page_foot_pager_nav_li(current, page, title)
    if (current != page)
      li.article-list-pager-li
        a(href='?p=' + page) #{title}
    else
      li.article-list-pager-li.article-list-pager-li-current
        a(href='?p=' + page) #{title}
  ul#article-list-pager-ul
  each pgparams in pager
    +page_foot_pager_nav_li(current, pgparams.page, pgparams.title)
    