block website-banner
  header
    div#website-intro-div
      div#website-front-div
        a#website-front-url(href=websiteInfo.url)  #{websiteInfo.title} 
      div#website-search-div
        img#website-search-img(src='/images/icons/ic_search_white_24dp_2x.png')
        input#website-search-input(type='text' placeholder='查询(标题、标签...)')
        img#website-hide-input-img(src='/images/icons/ic_clear_white_24dp_2x.png' style={display: 'none'})