.table-operation-bar {
    width: 80%;
    height: 30px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .table-operation-bar .table-filter-item {
    float: right;
    margin-top: 5px;
  }
  