.option-dialog-option-li {
    display: inline-block;
    width: 50%;
    height: 30px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: #424242;
    overflow: hidden;
    vertical-align: middle;
  }